{{- if .Values.metricsClusterRole.enable }}
  {{ $root := . }}
  {{- with .Values.metricsClusterRole }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    control-plane: "{{ template "clusterapioutscale.controllermanager" $root }}"
    app: "{{ template "clusterapioutscale.fullname" $root }}"
    chart: "{{ $root.Chart.Name }}-{{ $root.Chart.Version }}"
    release: "{{ $root.Release.Name }}"
  name: {{ template "clusterapioutscale.metricsClusterRole" $root }}
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
  {{- end }}
{{- end }}
