# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
artifact/*
example/cluster-machine-template-with-clusterclass.yaml
example/clusterclass.yaml
test/e2e/config/*-envsubst.yaml
test/e2e/data/ccm/ccm.yaml
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
apicovers.txt
covers.txt
apicovers.html
covers.html
getstarted.*
secret.*
*.kubeconfig
# Dependency directories (remove the comment below to include it)
bin/
hack/json-format/target/
hack/json-format/Cargo.lock
hack/json-format/**/*.rs.bk
