---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.1-0.20231113150709-881ffb4682cb
  name: oscmachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: OscMachineTemplate
    listKind: OscMachineTemplateList
    plural: oscmachinetemplates
    singular: oscmachinetemplate
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: OscMachineTemplate is the Schema for the OscMachineTemplate API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OscMachineTemplateSpec define oscMachine template
            properties:
              template:
                description: OscMachineTemplateResource is the Schema for the OscMachineTemplate
                  api
                properties:
                  metadata:
                    description: "ObjectMeta is metadata that all persisted resources
                      must have, which includes all objects users must create. This
                      is a copy of customizable fields from metav1.ObjectMeta. \n
                      ObjectMeta is embedded in `Machine.Spec`, `MachineDeployment.Template`
                      and `MachineSet.Template`, which are not top-level Kubernetes
                      objects. Given that metav1.ObjectMeta has lots of special cases
                      and read-only fields which end up in the generated CRD validation,
                      having it as a subset simplifies the API and some issues that
                      can impact user experience. \n During the [upgrade to controller-tools@v2](https://github.com/kubernetes-sigs/cluster-api/pull/1054)
                      for v1alpha2, we noticed a failure would occur running Cluster
                      API test suite against the new CRDs, specifically `spec.metadata.creationTimestamp
                      in body must be of type string: \"null\"`. The investigation
                      showed that `controller-tools@v2` behaves differently than its
                      previous version when handling types from [metav1](k8s.io/apimachinery/pkg/apis/meta/v1)
                      package. \n In more details, we found that embedded (non-top
                      level) types that embedded `metav1.ObjectMeta` had validation
                      properties, including for `creationTimestamp` (metav1.Time).
                      The `metav1.Time` type specifies a custom json marshaller that,
                      when IsZero() is true, returns `null` which breaks validation
                      because the field isn't marked as nullable. \n In future versions,
                      controller-tools@v2 might allow overriding the type and validation
                      for embedded types. When that happens, this hack should be revisited."
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        description: 'Annotations is an unstructured key value map
                          stored with a resource that may be set by external tools
                          to store and retrieve arbitrary metadata. They are not queryable
                          and should be preserved when modifying objects. More info:
                          http://kubernetes.io/docs/user-guide/annotations'
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        description: 'Map of string keys and values that can be used
                          to organize and categorize (scope and select) objects. May
                          match selectors of replication controllers and services.
                          More info: http://kubernetes.io/docs/user-guide/labels'
                        type: object
                    type: object
                  spec:
                    description: OscMachineSpec defines the desired state of OscMachine
                    properties:
                      failureDomain:
                        description: FailureDomain is the failure domain unique identifier
                          this Machine should be attached to, as defined in Cluster
                          API. For this infrastructure provider, the ID is equivalent
                          to a subnet name.
                        type: string
                      node:
                        properties:
                          clusterName:
                            type: string
                          image:
                            properties:
                              name:
                                type: string
                              resourceId:
                                type: string
                            type: object
                          keypair:
                            properties:
                              clusterName:
                                type: string
                              deleteKeypair:
                                type: boolean
                              name:
                                type: string
                              publicKey:
                                type: string
                              resourceId:
                                type: string
                            type: object
                          vm:
                            properties:
                              clusterName:
                                type: string
                              deviceName:
                                type: string
                              imageId:
                                type: string
                              keypairName:
                                type: string
                              loadBalancerName:
                                type: string
                              name:
                                type: string
                              privateIps:
                                items:
                                  properties:
                                    name:
                                      type: string
                                    privateIp:
                                      type: string
                                  required:
                                  - privateIp
                                  type: object
                                type: array
                              publicIpName:
                                type: string
                              replica:
                                format: int32
                                type: integer
                              resourceId:
                                type: string
                              role:
                                type: string
                              rootDisk:
                                properties:
                                  rootDiskIops:
                                    format: int32
                                    type: integer
                                  rootDiskSize:
                                    format: int32
                                    type: integer
                                  rootDiskType:
                                    type: string
                                type: object
                              securityGroupNames:
                                items:
                                  properties:
                                    name:
                                      type: string
                                  type: object
                                type: array
                              subnetName:
                                type: string
                              subregionName:
                                type: string
                              vmType:
                                type: string
                              volumeDeviceName:
                                type: string
                              volumeName:
                                type: string
                            type: object
                          volumes:
                            items:
                              properties:
                                iops:
                                  format: int32
                                  type: integer
                                name:
                                  type: string
                                resourceId:
                                  type: string
                                size:
                                  format: int32
                                  type: integer
                                subregionName:
                                  type: string
                                volumeType:
                                  type: string
                              type: object
                            type: array
                        type: object
                      providerID:
                        type: string
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
          status:
            properties:
              capacity:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: ResourceList is a set of (resource name, quantity) pairs.
                type: object
              conditions:
                description: Conditions provide observations of the operational state
                  of a Cluster API resource.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another. This should be when the underlying condition changed.
                        If that is not known, then using the time when the API field
                        changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                        in CamelCase. The specific API may choose whether or not this
                        field is considered a guaranteed API. This field may not be
                        empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of
                        Reason code, so the users or machines can immediately understand
                        the current situation and act accordingly. The Severity field
                        MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
