---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2-0.20240815091918-bfb3b75757cc
  name: oscmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    kind: OscMachine
    listKind: OscMachineList
    plural: oscmachines
    singular: oscmachine
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: OscMachine is the Schema for the oscmachines API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: OscMachineSpec defines the desired state of OscMachine
            properties:
              node:
                properties:
                  clusterName:
                    type: string
                  image:
                    properties:
                      name:
                        type: string
                      resourceId:
                        type: string
                    type: object
                  keypair:
                    properties:
                      clusterName:
                        type: string
                      deleteKeypair:
                        type: boolean
                      name:
                        type: string
                      publicKey:
                        type: string
                      resourceId:
                        type: string
                    type: object
                  vm:
                    properties:
                      clusterName:
                        type: string
                      deviceName:
                        type: string
                      imageId:
                        type: string
                      keypairName:
                        type: string
                      loadBalancerName:
                        type: string
                      name:
                        type: string
                      privateIps:
                        items:
                          properties:
                            name:
                              type: string
                            privateIp:
                              type: string
                          type: object
                        type: array
                      publicIp:
                        type: boolean
                      publicIpName:
                        type: string
                      replica:
                        format: int32
                        type: integer
                      resourceId:
                        type: string
                      role:
                        type: string
                      rootDisk:
                        properties:
                          rootDiskIops:
                            format: int32
                            type: integer
                          rootDiskSize:
                            format: int32
                            type: integer
                          rootDiskType:
                            type: string
                        type: object
                      securityGroupNames:
                        items:
                          properties:
                            name:
                              type: string
                          type: object
                        type: array
                      subnetName:
                        type: string
                      subregionName:
                        type: string
                      tags:
                        additionalProperties:
                          type: string
                        type: object
                      vmType:
                        type: string
                      volumeDeviceName:
                        type: string
                      volumeName:
                        type: string
                    type: object
                  volumes:
                    items:
                      properties:
                        device:
                          type: string
                        iops:
                          format: int32
                          type: integer
                        name:
                          type: string
                        resourceId:
                          type: string
                        size:
                          format: int32
                          type: integer
                        subregionName:
                          type: string
                        volumeType:
                          type: string
                      required:
                      - device
                      type: object
                    type: array
                type: object
              providerID:
                type: string
            type: object
          status:
            description: OscMachineStatus defines the observed state of OscMachine
            properties:
              addresses:
                items:
                  description: NodeAddress contains information for the node's address.
                  properties:
                    address:
                      description: The node address.
                      type: string
                    type:
                      description: Node address type, one of Hostname, ExternalIP
                        or InternalIP.
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              conditions:
                description: Conditions provide observations of the operational state
                  of a Cluster API resource.
                items:
                  description: Condition defines an observation of a Cluster API resource
                    operational state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        Last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        A human readable message indicating details about the transition.
                        This field may be empty.
                      type: string
                    reason:
                      description: |-
                        The reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may not be empty.
                      type: string
                    severity:
                      description: |-
                        Severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failureMessage:
                type: string
              failureReason:
                description: MachineStatusError defines errors states for Machine
                  objects.
                type: string
              node:
                properties:
                  imageRef:
                    description: Map between resourceId and resourceName (tag Name
                      with cluster UID)
                    properties:
                      resourceMap:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  keypairRef:
                    description: Map between resourceId and resourceName (tag Name
                      with cluster UID)
                    properties:
                      resourceMap:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  linkPublicIpRef:
                    description: Map between resourceId and resourceName (tag Name
                      with cluster UID)
                    properties:
                      resourceMap:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  publicIpIdRef:
                    description: Map between resourceId and resourceName (tag Name
                      with cluster UID)
                    properties:
                      resourceMap:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  vmRef:
                    description: Map between resourceId and resourceName (tag Name
                      with cluster UID)
                    properties:
                      resourceMap:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  volumeRef:
                    description: Map between resourceId and resourceName (tag Name
                      with cluster UID)
                    properties:
                      resourceMap:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                type: object
              ready:
                type: boolean
              vmState:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
