name: build
on: 
  pull_request:
    branches: [main]
  push:
    branches:
      - 'main'
    paths:
      - "**.go"
      - "**.yaml"
      - "!capm.yaml"
      - "!osc-secret.yaml"
      - "!example/**.yaml"
      - "!helm/**"
      - "Makefile"
      - "!docs/src/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.5'
      - name: check-gofmt
        run: make checkfmt
        shell: bash
      - name: Lint
        run: make vet
        shell: bash
      - name: check with ShellCheck
        run: make install-shellcheck
        shell: bash
      - name: Check with boilerplate
        run: make verify-boilerplate
        shell: bash
      - name: Install yamllint
        run: pip install yamllint
      - name: check with yamlint
        run: yamllint -c .github/linters/yaml-lint.yaml . --format github
