name: docker
on:
  pull_request:
    branches: [main]
    paths:
      - "**.go"
      - "**.yaml"
      - "!capm.yaml"
      - "!osc-secret.yaml"
      - "!example/**.yaml"
      - "!helm/**"
      - "Makefile"
      - "!docs/src/**"

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # Cache Trivy Database
      - name: Cache Trivy DB
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: ~/.cache/trivy/db              # This is where Trivy DB will be cached locally
          key: ${{ runner.os }}-trivy-db       # Unique cache key based on OS
          restore-keys: |
            ${{ runner.os }}-trivy-db          # Fallback key if the exact cache key isn't available

      # Download Trivy DB only if cache is missing or outdated
      - name: Download Trivy DB
        run: |
          docker run --rm \
            -v $HOME/.cache/trivy/db:/root/.cache/trivy/db \
            aquasec/trivy:latest image --download-db-only

      # Docker Lint
      - name: Docker Lint
        run: bash -c "make dockerlint"

      # Build and Push Docker Image
      - name: Build and Push Docker Image
        run: |
          make docker-buildx
        env:
          IMG: cluster-api-outscale-controllers:${{ github.sha }}
          DOCKER_BUILDKIT: 1

      # Trivy Scan
      - name: Trivy Scan
        run: bash -c "make trivy-scan"
        env:
          IMG: cluster-api-outscale-controllers:${{ github.sha }}
        # Mount cached Trivy DB to avoid redundant downloads
        # with:
        #   args: |
        #     -v $HOME/.cache/trivy/db:/root/.cache/trivy/db

      # Trivy Ignore Check
      - name: Trivy Ignore Check
        run: bash -c "make trivy-ignore-check"
        env:
          IMG: cluster-api-outscale-controllers:${{ github.sha }}

      # Upload Trivy SARIF report if errors
      - name: Upload Scan if Errors
        if: ${{ always() && github.event_name != 'pull_request' }}
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4
        with:
          sarif_file: './.trivyscan/report.sarif'