name: publish
on:
  workflow_dispatch:
  # push:
  #   tags:
  #     - "v*"
jobs:
  publish:
    runs-on: ubuntu-latest          
    steps:
      - name: Install aws-cli
        run: |
          sudo apt-get install -y unzip
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip -o awscliv2.zip
          sudo ./aws/install -u 
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: 'outscale-dev/cluster-api-provider-outscale'
          path: "cluster-api-provider-outscale"
          ref: main       
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
      - name: install mdbook
        run: make install-mdbook
        shell: bash
        working-directory: cluster-api-provider-outscale
      - name: generate doc
        run: make build 
        shell: bash
        working-directory: cluster-api-provider-outscale/docs/
      - name: Copy website
        run: cp website.json ./book 
        shell: bash
        working-directory: cluster-api-provider-outscale/docs/       
      - run: aws s3 cp ./book s3://cluster-api-outscale --acl public-read --recursive  --endpoint https://oos.eu-west-2.outscale.com --recursive
        shell: bash
        working-directory: cluster-api-provider-outscale/docs/
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.OSC_OPENSOURCE_ACCESS_KEY}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.OSC_OPENSOURCE_SECRET_KEY}}
          AWS_DEFAULT_REGION: ${{secrets.OSC_OPENSOURCE_REGION}}
      - run: aws s3 cp ./theme s3://cluster-api-outscale --acl public-read --recursive  --endpoint https://oos.eu-west-2.outscale.com  --recursive
        shell: bash
        working-directory: cluster-api-provider-outscale/docs/
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.OSC_OPENSOURCE_ACCESS_KEY}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.OSC_OPENSOURCE_SECRET_KEY}}
          AWS_DEFAULT_REGION: ${{secrets.OSC_OPENSOURCE_REGION}}
