name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install kustomize
      run: make kustomize
    - name: Install envsubst
      run: make envsubst
    - name: Set release_tag
      run: |
        echo 'RELEASE_TAG<<EOF' >> $GITHUB_ENV
        echo "${GITHUB_REF:10}" >> $GITHUB_ENV
        echo 'EOF' >> $GITHUB_ENV
    - name: Docker login
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    - name: build and push docker image
      run: |
        make docker-build
        make docker-push
      env:
        IMG: ${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ env.RELEASE_TAG }}
        RELEASE_TAG: ${{ env.RELEASE_TAG }}
        VERSION: ${{ env.RELEASE_TAG }}
        DOCKER_BUILDKIT: 1
    - name: generate artefacts
      run: make release
      env:
        IMG_RELEASE: registry.hub.docker.com/${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ env.RELEASE_TAG }}
        RELEASE_TAG: ${{ env.RELEASE_TAG }}
    - name: get previous tag
      run: |
        sudo apt-get update -y
        sudo apt-get install -y  original-awk
        LATEST_RELEASE_TAG=`gh release list -L 1 | awk '{print $1}'`
        if [ -z "$LATEST_RELEASE_TAG" ]; then
                PREVIOUS_RELEASE_TAG="None"
        else
                PREVIOUS_RELEASE_TAG=${LATEST_RELEASE_TAG}
        fi
        echo 'PREVIOUS_RELEASE_TAG<<EOF' >> $GITHUB_ENV
        echo "${PREVIOUS_RELEASE_TAG}" >> $GITHUB_ENV
        echo 'EOF' >> $GITHUB_ENV
    - name: generate changelog
      run: make release-changelog
      env:
        IMG_RELEASE: ${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ env.RELEASE_TAG }}
        RELEASE_TAG: ${{ env.RELEASE_TAG }}
        PREVIOUS_RELEASE_TAG: ${{ env.PREVIOUS_RELEASE_TAG }}
        GH_ORG_NAME: ${{ github.repository_owner }}
        GH_REPO_NAME: "cluster-api-provider-outscale" 
    - name: create release
      run: make create-gh-release
      env:
        IMG_RELEASE: ${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ env.RELEASE_TAG }}
        RELEASE_TAG: ${{ env.RELEASE_TAG }}
        PREVIOUS_RELEASE_TAG: ${{ secrets.PREVIOUS_RELEASE_TAG }}
        GH_REPO: ${{ github.repository }} 
