name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Install kustomize
      run: make kustomize
    - name: Install envsubst
      run: make envsubst
    - name: Docker login
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    - name: build and push docker image
      run: |
        make docker-build
        make docker-push
      env:
        IMG: ${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ github.ref_name }}
        RELEASE_TAG: ${{ github.ref_name }}
        VERSION: ${{ github.ref_name }}
        DOCKER_BUILDKIT: 1
    - name: generate artefacts
      run: make release
      env:
        IMG_RELEASE: registry.hub.docker.com/${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ github.ref_name }}
        RELEASE_TAG: ${{ github.ref_name }}
    - name: Get changelog for release
      id: changelog
      uses: mindsers/changelog-reader-action@v2
      with:
        path: "CHANGELOG.md"
        version: ${{ github.ref_name }}
    # - name: create release
    #   run: make create-gh-release
    #   env:
    #     IMG_RELEASE: ${{ secrets.DOCKER_REGISTRY_REPO }}/cluster-api-outscale-controllers:${{ github.ref_name }}
    #     RELEASE_TAG: ${{ github.ref_name }}
    #     PREVIOUS_RELEASE_TAG: ${{ secrets.PREVIOUS_RELEASE_TAG }}
    #     GH_REPO: ${{ github.repository }} 
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        draft: true
        prerelease: false
        body: ${{ steps.changelog.outputs.changes }}
        files: out/*.yaml